# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
Flask-Script

# ----------------------
# Production Server
# ----------------------
gunicorn
