{% extends "base.html" %}

{% block title %} View All Users {% endblock %}

{% block main %}

{% for user in users %}
    <div class="profile">
        <img src="{{ url_for('static', filename='uploads/'+user.image) }}"></img>
        
        <div class="info">
            <span class="name">{{ user.first_name}} {{ user.last_name }}</span> <br/>
            <span class="cdate"><b>Profile Created On: </b>{{ user.profile_created_on }}</span> <br/><br/>
            
            <b>Username:</b> {{ user.username }} <br/>
            <b>User ID:</b> {{ user.userid }} <br/>
            <b>Gender:</b> {{ user.gender }} <br/>
            <b>Age:</b> {{ user.age }} <br/><br/>
            
            {{ user.biography }}
        </div>
    </div>
    
    <br/>
{% endfor %}

{% endblock %}